.mainContactUs{
    margin-top: 20px;
    margin-bottom: 50px;
}
.leftsection label{
    font-size: 24px;
    color: #F98065;
}
.rightsection .text-contactUs{
    padding-left: 100px;  
    padding-bottom: 20px; 
}
.rightsection .text-contactUs h1, .rightsection .text-contactUs p{
    color: #F98065;
}
.rightsection .text-contactUs h1{
    font-size: 40px;
    font-weight: bold;
}
.img-contactUs{
    margin-left: -30px;
}
.btn-send{
    font-size: 20px;
    background-color: #F98065;
    color: #FFFFFF;
}
.leftsection input,
.leftsection button,
.leftsection select{
    height: 60px;
    border-radius: 15px;
}
.leftsection textarea{
    border-radius: 15px;
}